body {
    background-color:#fdf8ef;
}
header img {
    float: left;
    width: 100px;
}
header {
    text-align: center;
    color: #262a58;
    font-size: larger;
    padding: 40px;
}
.left-image {
    position: absolute;
    left: -50px; /* Move slightly to the left of the white box */
    top: -20px; /* Move slightly upward */
    z-index: 0;
}
  
.right-image {
    position: absolute;
    right: -50px; /* Move slightly to the right of the white box */
    bottom: -20px; /* Move slightly downward */
    z-index: 0;
}

.image-container {
    position: relative;
    display: inline-block;
}
.photo1 {
    width: 100%;
    height: auto
}

.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    text-align: center;
    font-style: italic;
}
footer{
    text-align: left;
    font-size:small;
    padding: 30px;
    background-color: rgb(210,196,212);
}

h2{
    font-style: italic;
    text-align: center;
}
/*.content_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: flex-end;
    height: 200px;
    width: 200px;
    padding: 15px;
    margin: 10px;
    border-style: solid;
    border-color: #FEFAE0;
} */
a:hover {
    color: rgb(255, 255, 255);
} 
.section-text {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding: 40px;
}
  
.image-container {
    position: relative;
    width: 400px; /* Adjust width as needed */
    height: 400px;
}
  
.photo1, .photo2 {
    width: 90%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
  
.white-box {
    position: relative;
    background-color: white;
    padding: 70px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
a:active {
    color: purple;
}

/*Styling for a thicker navigation bar*/
.navbar{
    background-color: rgb(133, 161,170);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
}

.abril-fatface-regular {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
  }
 
.arima-subtitle {
    font-family: "Arima", system-ui;
    font-optical-sizing: auto;
    font-weight: 500px;
  }
  h1{
    font-size: 80px;
  }
.socialMediaIcon{
    width: 20px;
    height: 20px;
}

.rounded-square-button{
    background-color: rgb(210,196,212);
    color: white;
    padding: 10px 30px;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 150px;
    height: 100px;
    text-align: center;
    display: inline-block
}
.rounded-square-button:hover{
    background-color:#ccc;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}
  
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
  
.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

  
.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}
  
.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}
  
.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}
  
.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}
  
.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}
  
.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}
  
.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}
