/* HTML and Body: */
body, html {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    background-color:#fdf8ef;
}
main {
    min-height: calc(100vh - 150px);
}
/* Header: */
header img {
    float: left;
    width: 100px;
}
header {
    text-align: center;
    color: #262a58;
    font-size: larger;
    padding: 40px;
}
/* Introduction Setup Layout: */
#intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    gap: 20px;
    padding: 20px;
    margin: 20px 0 60px 0;
    max-width: 100%;
    flex-wrap: wrap;
}
/* Container Setup */
.section-text {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: flex start;
    flex-wrap: wrap; /* This will allow wrapping for smaller screens */
    gap: 20px; /*Space between elements*/
    padding: 20px;
}

/* White Box */
.white-box{
    background-color: white;
    padding: 40px;
    width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
    z-index: 1;
}
/* Image Setup */
.image-container {
    flex-basis: calc(50% - 20px);
    text-align: center;
}
.photo1, .photo2, .photo3, .photo4{
    width: 100%;
    height: auto;
    max-width: 300px; 
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* The Overlapping Effect */
.left-image {
    position: relative;
    top: -20px;
}

.right-image {
    position: relative;
    top: 20px;
}

/* Caption */
.caption {
    text-align: center;
    font-style: italic;
    background-color: rgba(0,0,0,0.6);
    color: white;
    padding: 5px;
    border-radius: 4px;
    margin-top: -10px;
}

footer{
    text-align: center;
    font-size: small;
    padding: 20px;
    width: 100%;
    margin-top: 20px; /* This adds a space above the footer*/
    background-color: rgb(210,196,212);
}

h2{
    font-style: italic;
    text-align: center;
}
/*.content_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: flex-end;
    height: 200px;
    width: 200px;
    padding: 15px;
    margin: 10px;
    border-style: solid;
    border-color: #FEFAE0;
} */
a:hover {
    color: rgb(255, 255, 255);
} 
  
.image-container {
    position: relative;
    width: 400px; /* Adjust width as needed */
    height: 400px;
}
  
.white-box {
    position: relative;
    background-color: white;
    padding: 80px;
    width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
a:active {
    color: purple;
}

/*Styling for a thicker navigation bar*/
.navbar{
    background-color: rgb(133, 161,170);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
}

.abril-fatface-regular {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
  }
 
.arima-subtitle {
    font-family: "Arima", system-ui;
    font-optical-sizing: auto;
    font-weight: 500px;
  }
h1{
    font-size: 80px;
}
.socialMediaIcon{
    width: 20px;
    height: 20px;
}

.rounded-square-button{
    background-color: rgb(210,196,212);
    color: white;
    padding: 10px 30px;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 200px;
    height: 100px;
    text-align: center;
    display: inline-block
}
.rounded-square-button:hover{
    background-color:#ccc;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}
  
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
  
.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

  
.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}
  
.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}
  
.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}
  
.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}
  
.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}
  
.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}
  
.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}
